.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj
/*.tar.gz
/*.Rcheck/
*-Ex.R
vignettes/*.html
vignettes/*.pdf
docs/
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
.httr-oauth
.DS_Store
Thumbs.db